{block content}
<div>
    <p>Price: {$price} Kč</p>
    <p>Duration: {$duration}</p>
    <p>Premium Until: {$premiumUntil}</p>
</div>
<a n:href="submitCart!" class="btn btn-primary">Zakoupit premium</a>